@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400');
h1 {
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 175px;
    margin-top: 294px;
    margin-bottom: 0px;
}

h2 {
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-left: 175px;
    margin-top: 10px;
    margin-bottom: 0px;
}

h3 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-right: 700px;
    margin-top: 174px;
    margin-bottom: 0px;
}
h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 42px;
    margin-top: 31px;
}
h5 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 175px;
    margin-top: 70px;
    margin-bottom: 0px;
    line-height: 30px;
}
h6 {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 175px;
    margin-top: 70px;
    margin-bottom: 0px;
    line-height: 30px;
}
h5 span {
    color: #4D47C3;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 0px;
}
.block_2{
    float:right;
}
.block_1 {
    float: left;
}
img {
    width:20%;
    margin-left: 80px;
    margin-top: 390px;
}

input {
    background-color: #F0EFFF;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.email::placeholder { 
    color: #A7A3FF;
}
.number::placeholder {
    color: #A7A3FF;
}
.name::placeholder {
    color: #A7A3FF;
}
.password::placeholder {
    color: #A7A3FF;
}
.password2::placeholder {
    color: #A7A3FF;
}

.btn {
    padding: 20px;
    color: #fff;
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: #4D47C3;
    border-width: 0;
    border-radius: 5px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
    -webkit-box-shadow: 4px 4px 61px 10px rgba(77, 71, 195, 0.4);
    -moz-box-shadow: 4px 4px 61px 10px rgba(77, 71, 195, 0.4);
    box-shadow: 4px 4px 61px 10px rgba(77, 71, 195, 0.4);
}

span a:link {
    color: #A7A3FF;
}

span a:visited {
    color: #4D47C3;
}

span a:hover {
    color: #A7A3FF;
}

span a:active {
    color: #A7A3FF;
}

span a {
    text-decoration: none;
}
.material-symbols-outlined {
    position: absolute;
    width: 30px;
    height: 31px;
    border: none;
    color: #4D47C3;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}

.icon-pass {
    position: absolute;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-left: -250px;
    width: 30px;
    height: 31px;
    border: none;
    color: #4D47C3;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}
#icon-pass1 {
    position: absolute;
    margin-top: -45px;
    margin-bottom: 100px;
    margin-left: -250px;
}

#icon-pass2 {
    position: absolute;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-left: -250px;
}


